<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.azheng.time_format</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>51185F25-CF15-4A33-8B40-BD70C6DAD2C5</key>
		<array/>
		<key>B0499325-3858-4C53-A96E-3231D457FFB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51185F25-CF15-4A33-8B40-BD70C6DAD2C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>azheng</string>
	<key>description</key>
	<string>Time Format</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Time Format</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>tf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在转化...</string>
				<key>script</key>
				<string>/Users/admin/.pyenv/versions/2.7.18/bin/python time_format.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>time format</string>
				<key>title</key>
				<string>time format</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B0499325-3858-4C53-A96E-3231D457FFB3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>51185F25-CF15-4A33-8B40-BD70C6DAD2C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>51185F25-CF15-4A33-8B40-BD70C6DAD2C5</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>B0499325-3858-4C53-A96E-3231D457FFB3</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
